body {
  background-color: #fefae0;
  width: 80%;
  margin: 0 auto;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe {
  border: 1px solid black;
  background-color: white;
  padding: 5px 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 4px 4px  #bc6c25;
}

.recipe button{
  width: 50%;
  background-color: #bc6c25;
  border-radius: 20px;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 50vh;
}


.recipeTitle {
  margin-top: 0;
  font-size: 4rem;
  display: flex;
  align-items: center;
  color: #bc6c25;
}

.nav-header {
  background: url('dan-gold-4_jhDO54BYg-unsplash.jpg');
  background-size: cover;
  border-radius: 20px;
} 

