body {
  background-color: lightgray;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
}

.recipe {
  border: 1px solid black;
  background-color: lightblue;
  padding: 5px 30px;
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
}
